.frameCss{
  display: flex;
  justify-content: center;
  // position: relative;
}

.notification-tag{
  background-color: #4091c9;
  color:white;
  border-radius: 5px;
  padding:3px 8px 3px 8px;
  margin-right: 15px;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
}

.notification-box {
  width: 70%;
  border-color: #4091c9;
  @media(max-width:600px) {
    width: 85%;
  }
}

.notification {
  padding: 10px;
  border-bottom: 1px solid #b6e4f6;
  margin-bottom: 10px;
  border-radius: 15px;
  left: -50px;
  cursor: pointer;

  @media(max-width:600px) {
    padding: 8px;
    left: -30px;
  }
}

.notification:hover{
 transform: translateY(-2px);
 box-shadow: 0 10px 20px rgba(64, 145, 201, 0.2);
 transition: all 0.3s ease; /* 讓動作變平滑 */
}

.notification-title {
  display: inline-block;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom; /* 修正與旁邊文字的對齊 */
  cursor: pointer;

  @media(max-width:600px) {
    left: 5px;
    font-size: 14px;
    width: 40%;
  }
}

.notification-date {
  right: 5px;

  //手機
  @media(max-width:600px) {
    font-size: 12px;
    right: 10px;
    top: 15px;
  }
}

.no-data{
  justify-self: center;
  align-self: center;
  font-size: 20px;
  color:gray;
}

.titleCss{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto;
}

.titleFontPage1 {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 5px;

  // margin-left: 120px;
  @media(max-width:600px) {
    font-size: 24px;
    left: 30px
  }
}


.titleFontPage2{
  font-size: 28px;
  font-weight: bold;
}

.btnBack{
  background-color: transparent;
  border: 0px;
  font-size: 16px;
  color: #4091c9;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding-bottom: 1px;
  border-bottom: transparent 1px solid;
  margin-left:820px;
   @media(max-width:600px) {
      margin-left:150px;
  }
}

.btnBack:hover{
  background-color: transparent;
  font-size: 16px;
  border-bottom: #1368aa 1px solid;
  color: #1368aa;
}

.btnList{
  background-color: transparent;
  border: 0px;
  font-size: 16px;
  color: #4091c9;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding-bottom: 1px;
  border-bottom: transparent 1px solid;

}

.btnList:hover{
  background-color: transparent;
  font-size: 16px;
  border-bottom: #1368aa 1px solid;
  color: #1368aa;
}

hr{
  width: 80%;
  border: none;
  height: 2px;
  background-color: #9dcee2;
 @media(max-width:600px) {
      margin-top:30px;
  }
}

// 分頁控制項

.pagination-div{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.pagination-controls {
  padding: 5px;
  border-radius: 8px;
  gap: 10px;
}

.pagination-controls span{
  font-size: 16px;
  font-weight: bold;
  color: #4091c9;
}

.pagination-controls select{
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #4091c9;
}

.pagination-controls button {
  background-color: white;
  border: 1px solid #4091c9;
  color: #4091c9;
  padding: 3px 5px;
  border-radius: 70px;
  cursor: pointer;
  transition: 0.2s;
}

.pagination-controls button:hover:not(:disabled){
  background: #4091c9;
  color: white;
}

.pagination-controls button:disabled {
  border-color: #ccc;
  color: #ccc;
  cursor: not-allowed;
}

.pagination-btns{
  display: flex;
  align-items: center;
  gap: 15px;
}

h2 {
  color: #000000;
  letter-spacing: 5px;
  font-size: 28px;
  position: absolute;
  margin-left: 120px;

  @media(max-width:600px) {
    font-size: 24px;
    position: static;
    margin-left: 10px;
  }
}

.notification-dateBox {
  display: flex;
  margin-left: 150px;
  font-size: 16px;
  color: #4091c9;

  @media(max-width:600px) {
    margin-left: 30px;
    margin-bottom: -20px;
  }
}

@media (max-width: 600px) {
  .mobile-br {
    display: none;
  }
}
