.frameCss{
  display: flex;
  justify-content: center;
  position: relative;
  // display: flex;
  // flex-direction: column;    /* 讓內容由上往下排 */
  // align-items: center;       /* 水平居中 */
  // // gap: 10px;
}

.headerCss{
  position: relative;
  width: 100%;
  height:60px;
  // border-radius: 10px;
 background: linear-gradient(45deg, #9dcee2, #4091c9);
}

.logo{
  position: absolute;
  left:40px;
  bottom:10px;
  font-size: 16px;
  color: white;
  font-size: 32px;
}

h1{
  // margin-left:50px;
  color: #000000;
  letter-spacing:5px;
  font-size: 42px;
  position: absolute;
  margin-left: 120px;
}
h2{
  // margin-left:50px;
  color: #000000;
  letter-spacing:5px;
  font-size: 28px;
  position: absolute;
  margin-left: 120px;
}

.loginText{
  position: absolute;
  right:40px;
  bottom:10px;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;
}

.headerbtn{
  position: absolute;
  height: 60px;
  // bottom:15px;
  color:#ddf4fd;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.registerBtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  position: absolute;
  right: 40px;
  top: 15px;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.loginBtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  position: absolute;
  right: 140px;
  top: 15px;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #075591;
  color: white;
}

.registerBtn:hover {
  background-color: #075591;
  color: white;
}

.headerbtn:hover{
  position: absolute;
  height: 60px;
  color:#ffffff;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  border-bottom:3px solid #1368aa ;
}
.nowheaderbtn{
  position: absolute;
  border: none; height: 60px;
  color:#ffffff;
  font-size: 19px;
  background-color: transparent;
  cursor: pointer;
  border-bottom:3px solid #1368aa ;
}

.notification-tag{
  background-color: #4091c9;
  color:white;
  border-radius: 5px;
  padding:3px 8px 3px 8px;
  margin-right: 15px;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
}

.notification-edit{
  position: absolute;
  background-color: transparent;
  color:#9dcee2;
  border:none;
  padding:3px 8px 3px 8px;
  margin-right: 15px;
  margin-left: 5px;
  font-size: 14px;
  right:-80px;
  top:5px;
  cursor: pointer;
}

.notification-edit:hover{
  color:#4091c9;
}

.notification-delete{
  position: absolute;
  background-color: transparent;
  color:#9dcee2;
  border:none;
  padding:3px 8px 3px 8px;
  margin-right: 15px;
  margin-left: 5px;
  font-size: 14px;
  right:-120px;
  top:5px;
  cursor: pointer;
}

.notification-delete:hover{
  color:#4091c9;
}

.notification{
 position: relative;
//  box-shadow: 5px 5px 15px rgba(109, 163, 234, 0.3);
  padding: 10px;
  border-bottom:1px solid #b6e4f6;
  margin-bottom: 10px;
  border-radius: 15px;
  left:-50px;
  cursor: pointer;
}

.notification:hover{
 transform: translateY(-2px);
 box-shadow: 0 10px 20px rgba(64, 145, 201, 0.2);
 transition: all 0.3s ease; /* 讓動作變平滑 */
}

.notification-title {
  display: inline-block;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom; /* 修正與旁邊文字的對齊 */
  cursor: pointer;

}

.no-data{
  justify-self: center;
  align-self: center;
  font-size: 20px;
  color:gray;
}

.titleCss{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto;
}

.titleFontPage1{
  font-size: 42px;
  font-weight: bold;
}

.titleFontPage2{
  font-size: 28px;
  font-weight: bold;
}

.btnBack{
  background-color: transparent;
  border: 0px;
  font-size: 15px;
  color: blue;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding-bottom: 1px;
}

.btnBack:hover{
  background-color: transparent;
  font-size: 15px;
  border-bottom: blue 1px solid;
  color: blue;
}

.btnList{
  background-color: transparent;
  border: 0px;
  font-size: 15px;
  color: gray;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding-bottom: 1px;
}

.btnList:hover{
  background-color: transparent;
  font-size: 15px;
  border-bottom: gray 1px solid;
  color: gray;
}

hr{
  width: 80%;
  border: none;
  height: 2px;
  background-color: #9dcee2;
}
