.test-container {
    max-width: 800px;
    margin: 5px auto;
    padding: 30px;
    background-color: transparent;
    border-radius: 12px;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    // font-family: "微軟正黑體", sans-serif;
}

// .title {
//     text-align: center;
//     color: #2c3e50;
//     margin-bottom: 10px;
//     font-size: 28px;
// }
.frameCss{
  display: flex;
  justify-content: center;
}
.distance{
   margin-top: 70px;
    //手機
  @media(max-width:600px) {
    margin-top: 30px;
  }
}
.title {
  font-size: 36px;
  color: #4091c9;
  font-weight: bold;
  letter-spacing: 0.05em;

  //手機
  @media(max-width:600px) {
    font-size: 32px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
    width:330px;
    text-align: center
  }
}

.introduction {
  color: #666;
  letter-spacing: 0.05em;

  //手機
  @media(max-width:600px) {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 40px;
    width:330px;
    text-align: center
  }
}
.subtitle {
    text-align: center;
    color: #7f8c8d;
    margin-bottom: 30px;
}

.question-card {
    background: white;
    padding: 20px 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-left: 5px solid #9DCEE2;
    // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);


    &.error-card {
        border-left: 5px solid #fedfd4;
        background-color: #fdf5f5;
    }

    h4 {
        margin-top: 0;
        margin-bottom: 15px;
        color: #34495e;

        .error-msg {
            color: #e74c3c;
            font-size: 14px;
            margin-left: 15px;
            font-weight: normal;
        }
    }

    label {
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
        color: #555;

        input[type="radio"] {
            margin-right: 10px;
            cursor: pointer;
        }

        &:hover {
            color: #000;
        }
    }
}

.submit-area {
    text-align: center;
    margin-top: 40px;

    .submit-btn {
        padding: 12px 40px;
        font-size: 18px;
        background-color: #9dcee2;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: bold;

        &:hover {
            background-color: #4091c9;
        }

        &:disabled {
            background-color: #cccccc;
            cursor: not-allowed;
        }
    }
}
