<div class="frameCss distance">
  <label class="title">風險屬性評量問卷</label>
</div>
<div class="frameCss" style="margin-bottom: 5px;">
  <p class="introduction">請根據您的真實情況作答，系統將為您計算專屬的投資策略。</p>
</div>
<div class="test-container">

  <form [formGroup]="riskForm" (ngSubmit)="submitTest(1)">

    <div class="question-card"
      [class.error-card]="riskForm.get('qOneScore')?.invalid && riskForm.get('qOneScore')?.touched">
      <h4>1. 您的年齡是？
        <span class="error-msg" *ngIf="riskForm.get('qOneScore')?.invalid && riskForm.get('qOneScore')?.touched">*
          此題為必填</span>
      </h4>
      <label><input type="radio" formControlName="qOneScore" [value]="1"> 65歲(含)以上 / 17歲(含)以下</label>
      <label><input type="radio" formControlName="qOneScore" [value]="2"> 60 - 64 歲</label>
      <label><input type="radio" formControlName="qOneScore" [value]="3"> 56 - 59 歲</label>
      <label><input type="radio" formControlName="qOneScore" [value]="4"> 41 - 55 歲</label>
      <label><input type="radio" formControlName="qOneScore" [value]="5"> 18 - 40 歲</label>
    </div>

    <div class="question-card"
      [class.error-card]="riskForm.get('qTwoScore')?.invalid && riskForm.get('qTwoScore')?.touched">
      <h4>2. 您對金融市場和投資的認識？
        <span class="error-msg"
          *ngIf="riskForm.get('qTwoScore')?.invalid && riskForm.get('qTwoScore')?.touched">*
          此題為必填</span>
      </h4>
      <label><input type="radio" formControlName="qTwoScore" [value]="1"> 一無所知，但有興趣進一步了解。</label>
      <label><input type="radio" formControlName="qTwoScore" [value]="2"> 只有一些基本知識。</label>
      <label><input type="radio" formControlName="qTwoScore" [value]="3"> 瞭解基本知識，並明白分散投資的重要性，並作出分散投資。</label>
      <label><input type="radio" formControlName="qTwoScore" [value]="4"> 對金融商品及其投資風險有進一步的認識，清楚明白影響股票與債券價格的因素。</label>
      <label><input type="radio" formControlName="qTwoScore" [value]="5"> 非常熟悉大部分金融產品與風險因素，並明白影響這些金融產品的風險和表現的各項因素。</label>
    </div>

    <div class="question-card"
      [class.error-card]="riskForm.get('qThreeScore')?.invalid && riskForm.get('qThreeScore')?.touched">
      <h4>3. 請依自身之金融投資商品的投資經驗填寫： <br>
        <span class="question-text">(金融投資商品的定義：是指其價值可隨時波動，並可跌至低於其投資本金。包括認股權證、期權、期貨、股票、債券、基金、投資型保單、衍生性投資工具、外匯交易、大宗物資商品、結構性產品等)</span>
        <span class="error-msg"
          *ngIf="riskForm.get('qThreeScore')?.invalid && riskForm.get('qThreeScore')?.touched">*
          此題為必填</span>
      </h4>
      <label><input type="radio" formControlName="qThreeScore" [value]="1"> 1年(含)以下</label>
      <label><input type="radio" formControlName="qThreeScore" [value]="2"> 1年 - 3年(含)</label>
      <label><input type="radio" formControlName="qThreeScore" [value]="3"> 3年 - 6年(含)</label>
      <label><input type="radio" formControlName="qThreeScore" [value]="4"> 6年 - 10年(含)</label>
      <label><input type="radio" formControlName="qThreeScore" [value]="5"> 10年以上</label>
    </div>

    <div class="question-card"
      [class.error-card]="riskForm.get('qFourScore')?.invalid && riskForm.get('qFourScore')?.touched">
      <h4>4. 一般而言，您可接受何種程度的價格波動？
        <span class="error-msg"
          *ngIf="riskForm.get('qFourScore')?.invalid && riskForm.get('qFourScore')?.touched">*
          此題為必填</span>
      </h4>
      <label><input type="radio" formControlName="qFourScore" [value]="1"> 可接受最高 5% 的波動</label>
      <label><input type="radio" formControlName="qFourScore" [value]="2"> 可接受最高 10% 的波動</label>
      <label><input type="radio" formControlName="qFourScore" [value]="3"> 可接受最高 15% 的波動</label>
      <label><input type="radio" formControlName="qFourScore" [value]="4"> 可接受最高 20% 的波動</label>
      <label><input type="radio" formControlName="qFourScore" [value]="5"> 可接受 20% 以上的波動</label>
    </div>

    <div class="question-card"
      [class.error-card]="riskForm.get('qFiveScore')?.invalid && riskForm.get('qFiveScore')?.touched">
      <h4>5. 當您投資的金融商品有波動時，您可接受的持有期間？ <br>
        <span class="question-text">(一般來說，投資年期越長，您投資價值的波動越少。換言之，投資年期越長，虧損的機會較低，但資金需被鎖定一段較長時間)</span>
        <span class="error-msg"
          *ngIf="riskForm.get('qFiveScore')?.invalid && riskForm.get('qFiveScore')?.touched">*
          此題為必填</span>
      </h4>
      <label><input type="radio" formControlName="qFiveScore" [value]="1"> 3個月以下</label>
      <label><input type="radio" formControlName="qFiveScore" [value]="2"> 3個月 - 6個月(含)</label>
      <label><input type="radio" formControlName="qFiveScore" [value]="3"> 6個月 - 1年(含)</label>
      <label><input type="radio" formControlName="qFiveScore" [value]="4"> 1年 - 3年(含)</label>
      <label><input type="radio" formControlName="qFiveScore" [value]="5"> 3年以上</label>
    </div>

    <div class="question-card"
      [class.error-card]="riskForm.get('qSixScore')?.invalid && riskForm.get('qSixScore')?.touched">
      <h4>6. 在一般情況下，您的家庭月收入約有多少比例可以用於投資或儲蓄？
        <span class="error-msg"
          *ngIf="riskForm.get('qSixScore')?.invalid && riskForm.get('qSixScore')?.touched">*
          此題為必填</span>
      </h4>
      <label><input type="radio" formControlName="qSixScore" [value]="1"> 無</label>
      <label><input type="radio" formControlName="qSixScore" [value]="2"> 介於 0% - 10% (含)</label>
      <label><input type="radio" formControlName="qSixScore" [value]="3"> 介於 10% - 30% (含)</label>
      <label><input type="radio" formControlName="qSixScore" [value]="4"> 介於 30% - 60% (含)</label>
      <label><input type="radio" formControlName="qSixScore" [value]="5"> 60% 以上</label>
    </div>

    <div class="question-card"
      [class.error-card]="riskForm.get('qSevenScore')?.invalid && riskForm.get('qSevenScore')?.touched">
      <h4>7. 目前投資的資產中 <span class="question-text">(不包括自用房地產)</span> ，約有多少比例是持有金融投資商品？
        <span class="error-msg"
          *ngIf="riskForm.get('qSevenScore')?.invalid && riskForm.get('qSevenScore')?.touched">*
          此題為必填</span>
      </h4>
      <label><input type="radio" formControlName="qSevenScore" [value]="1"> 無</label>
      <label><input type="radio" formControlName="qSevenScore" [value]="2"> 0% - 10%</label>
      <label><input type="radio" formControlName="qSevenScore" [value]="3"> 10% - 25%</label>
      <label><input type="radio" formControlName="qSevenScore" [value]="4"> 25% - 50%</label>
      <label><input type="radio" formControlName="qSevenScore" [value]="5"> 50% 以上</label>
    </div>

    <div class="question-card"
      [class.error-card]="riskForm.get('qEightScore')?.invalid && riskForm.get('qEightScore')?.touched">
      <h4>8. 金融投資商品的交易頻率？
        <span class="error-msg"
          *ngIf="riskForm.get('qEightScore')?.invalid && riskForm.get('qEightScore')?.touched">*
          此題為必填</span>
      </h4>
      <label><input type="radio" formControlName="qEightScore" [value]="1"> 三年以上</label>
      <label><input type="radio" formControlName="qEightScore" [value]="2"> 一年以上</label>
      <label><input type="radio" formControlName="qEightScore" [value]="3"> 半年</label>
      <label><input type="radio" formControlName="qEightScore" [value]="4"> 每季</label>
      <label><input type="radio" formControlName="qEightScore" [value]="5"> 三個月以下</label>
    </div>

    <div class="question-card"
      [class.error-card]="riskForm.get('qNineScore')?.invalid && riskForm.get('qNineScore')?.touched">
      <h4>9. 下列哪一項最能描述您的投資目標？
        <span class="error-msg"
          *ngIf="riskForm.get('qNineScore')?.invalid && riskForm.get('qNineScore')?.touched">*
          此題為必填</span>
      </h4>
      <label><input type="radio" formControlName="qNineScore" [value]="1"> 首要目標是能維持本金，即使投資回報率可能非常低。</label>
      <label><input type="radio" formControlName="qNineScore" [value]="2"> 追求穩定的定期收益，例如股息或是債券配息，即使存在資本虧損的風險。</label>
      <label><input type="radio" formControlName="qNineScore" [value]="3"> 願意承擔適度的風險，追求長期的資本成長與定期收益所創造的總回報率。</label>
      <label><input type="radio" formControlName="qNineScore" [value]="4"> 願意承擔較高的風險，追求資本增值，以累積資金。</label>
      <label><input type="radio" formControlName="qNineScore" [value]="5"> 願意承擔更高的風險，以儘量提高資本增值。</label>
    </div>

    <div class="question-card"
      [class.error-card]="riskForm.get('qTenScore')?.invalid && riskForm.get('qTenScore')?.touched">
      <h4>10. 若非預期的事件發生時，請問您的備用金相當於您幾個月的家庭開銷？<br>
        <span class="question-text">(在考慮投資之前，建議先準備一筆可以隨時動用且足以因應不時之需的備用金。建議至少是您3個月的家庭開支或 3 至 6 個月內的個人總支出)</span>
        <span class="error-msg"
          *ngIf="riskForm.get('qTenScore')?.invalid && riskForm.get('qTenScore')?.touched">*
          此題為必填</span>
      </h4>
      <label><input type="radio" formControlName="qTenScore" [value]="1"> 無備用金儲蓄</label>
      <label><input type="radio" formControlName="qTenScore" [value]="2"> 3 個月以下</label>
      <label><input type="radio" formControlName="qTenScore" [value]="3"> 介於 3 個月到 6 個月</label>
      <label><input type="radio" formControlName="qTenScore" [value]="4"> 介於 6 個月到 9 個月</label>
      <label><input type="radio" formControlName="qTenScore" [value]="5"> 超過 9 個月</label>
    </div>

    <div class="submit-area">
      <button type="submit" class="submit-btn" [disabled]="isSubmitting">
        {{ isSubmitting ? '計算中...' : '送出測驗，觀看策略' }}
      </button>
    </div>

  </form>
</div>
