<div class="frameCss">
  <p mat-dialog-title class="titleCss">
    <span>新增再平衡策略</span>
  </p>

  <mat-dialog-content>
    <div class="form-group">
      <label>選擇持股 : </label>
      <select [(ngModel)]="newAsset.stockId" (change)="onStockChange()">
        <option value="" disabled>-- 請選擇股票 --</option>
        @for (s of filteredStocks; track $index) {
          <option [value]="s">{{ s }}</option>
        }
      </select>
      <div class="alertText">{{ alertSymbol }}</div>

      <div class="info-row">
        @if(isLoading){
          <div class="loading-spinner">查詢最新價格中...</div>
        } @else {
          <div class="info-item">
            <span class="label">最新價格</span>
            <span class="value">{{ currentPrice | number }}</span>
          </div>
          <div class="info-item">
            <span class="label">目前市值</span>
            <span class="value">{{ totalAmount | number }}</span>
          </div>
        }
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>目前持股數 (股)</label>
          <input type="number" [(ngModel)]="newAsset.sharesOwned" name="sharesOwned">
        </div>
        <div class="form-group">
          <label>目標佔比 (%)</label>
          <input type="number" [(ngModel)]="newAsset.targetPercentage" placeholder="例如: 20">
        </div>
      </div>
      <div class="alertText">{{ alertInput }}</div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button (click)="cancel()" class="btn-cancel">取消</button>
    &nbsp;&nbsp;
    <button (click)="confirm()" class="btn-confirm">新增</button>
  </mat-dialog-actions>
</div>
