<br>

<div style="margin: 20px;">
  <div>
    <h1>服務條款</h1>
    <label class="date">2026/03/20</label>
  </div>
</div>
<div class="between">
</div>
<hr class="hr1">
<br>
<div class="frameCss">
  <label class="privacyListtitle">{{serviceList.title}}</label>
</div>

<div class="between2">
</div>

@for(terms of serviceList.content; track $index){
<div class="content">
  <div class="frameCss">
    <hr class="content-hr">
  </div>
  <div class="frameCss">
    <label class="index">{{$index+1}}</label>
    <label class="termstitle">{{terms.title}}</label>
    <br><br><br><br>
  </div>
  @if (terms.content) {
  <div class="frameCss">
    <label class="termscontent">{{terms.content}}</label>
    <br><br><br>
  </div>
  }
  <div class="frameCss">
    @if (terms.item && terms.item.length > 0) {
    <ul style="position: relative;width: 900px;">
      @for( item of terms?.item; track $index){
      <li class="termsitem">{{item}}</li>
      <br>
      }
    </ul>
    }
  </div>
</div>
}

<br><br><br><br>
