<!-- <p>personal-notification works!</p>-->
 @if(page==1){
<br>
<div style="margin: 20px;">
  <!-- 標題 -->
  <div>
    <h1>個人通知</h1>
  </div>
</div>
<br><br><br><br><br>
<hr>
<br>

<div class="frameCss" style="margin: 20px;">
  <div style="width: 70%; border-color: #4091c9;position: relative;left:20px;">
    @for(notification of notificationList?.data ; track $index){
       @if(notification.scheduledDate<=gettoday){
    <div class="notification">
      <label class="notification-tag" (click)="detail(notification.id!)">{{notification.tag}}</label>
      <label class="notification-title" (click)="detail(notification.id!)">{{notification.title}}</label>
      <label style="position: absolute;right:20px"
        (click)="detail(notification.id!)">{{notification.scheduledDate}}</label>
    </div>
      }
    }
  </div>
</div>
}

@else{
<br>
<div style="margin: 20px;">
  <!-- 標題 -->
  <div>
    <h2>{{notificationIdDetail?.title}}</h2>
  </div>
</div>
<br><br><br><br>
<hr>
<br>

<div class="frameCss">
  <div style="position: relative;left:12px; width: 78%; line-height: 1.8;">
    <label style="white-space: pre-wrap;">{{notificationIdDetail?.content}}</label>
  </div>
</div>
<br><br><br><br>
<!-- <div class="frameCss" > -->
<div style="display: flex; justify-content: flex-end;margin-right: 130px;font-size: 18px;color: #4091c9;font-style: italic">
  <label>{{notificationIdDetail?.scheduledDate}}</label>
</div>
<!-- </div> -->
}
<br><br><br>

