@if( role=="USER" || role=="ADMIN"){
<!-- <div class="frameCss">
  <div class="personal-carousel">
    <div class="personal-container" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
      @for (personal of personalList; track $index) {
      <div class="personal-item">
        <span class="personal-tag">{{ personal.tag }}</span>
        <span class="personal-title">{{ personal.title }}</span>
        <span class="personal-date">{{ personal.date }}</span>
      </div>
      }
    </div>

    <div class="carousel-controls">
      <button (click)="prevPersonal()"><mat-icon>chevron_left</mat-icon></button>
      <button (click)="nextPersonal()"><mat-icon>chevron_right</mat-icon></button>
    </div>
  </div>
</div> -->


<div class="frameCss">
  @if( hasAnyHistory ){
  <!-- 圖的滑動層 -->
  <div class="chart-scroll-wrapper">
    <!-- 圓餅圖 -->
    <div class="chart-container">
      <canvas id="doughnutChart"></canvas>
      <div class="chart-center-text">
      </div>
    </div>
    <!-- 折線圖 -->
    <div class="chart-container Line-chart">
      <div class="time-filter-group">
      <button class="Line-chartbtn" (click)="updateRange('1M')" [class.active]="currentRange === '1M'">1個月</button>
      <button class="Line-chartbtn" (click)="updateRange('6M')" [class.active]="currentRange === '6M'">6個月</button>
      <button class="Line-chartbtn" (click)="updateRange('1Y')" [class.active]="currentRange === '1Y'">1年</button>
      <button class="Line-chartbtn" (click)="updateRange('3Y')" [class.active]="currentRange === '3Y'">3年</button>
      </div>
      <canvas id="assetChangeChart" class="assetChangeChart"></canvas>
    </div>
  </div>
  }
  @else{
  <div class="top-text-container">
    <div style="box-shadow: 2px 2px 8px rgba(3, 50, 112, 0.2);
  border-radius: 20px;width: 500px;height:100px;">
      <p>歡迎使用 WealthMap 個人資產與財務配置平台<br><br>
        請立即前往「我的資產」建立資產，以顯示個人化圖表!!</p>
    </div>
  </div>
  }
</div>
}

@if(role=="visitor"){
<div class="frameCss distance">
  <label class="WealthMap">WealthMap 個人財務與資產配置平台</label>
</div>
<div class="frameCss">
  <p class="introduction">全方位的資產配置、多元的投資策略，陪你在理財的路上，讓資產隨市場穩健進化</p>
</div>

}

<div class="frameCss" style="margin-bottom: 20px;">
  <div class="iconbox">
    <button class="iconbtn" (click)="goToRiskTest()" style="cursor: pointer;">
      <div class="imgAndText">
        <img style="width: 100px;height: 70px;" src="9179 (2).png">
        <br>
        <label class="icon-text">風險評估</label>
      </div>
    </button>
    @if(role=="USER" || role=="ADMIN"){
    <button class="iconbtn" (click)="goToAssets()" style="cursor: pointer;">
      <div class="imgAndText">
        <img style="width: 80px;height: 60px;" src="16220 (1).png">
        <br>
        <label class="icon-text">我的資產</label>
      </div>
    </button>
    }
    <button class="iconbtn" (click)="goToGoals()" style="cursor: pointer;">
      <div class="imgAndText">
        <img style="width: 90px;height: 80px;" src="12260 (3).png">
        <br>
        <label class="icon-text">財務目標</label>
      </div>
    </button>
    <button class="iconbtn" (click)="health()">
      <div class="imgAndText">
        <img style="width: 90px;height: 90px;" src="9274 (3).png">
        <br>
        <label class="icon-text">財務健康</label>
      </div>
    </button>
    <button class="iconbtn" (click)="investmentManage()">
      <div class="imgAndText">
        <img style="width: 120px;height: 70px;" src="9289 (1).png">
        <br>
        <label class="icon-text">投資策略</label>
      </div>
    </button>
    @if(role=="ADMIN"){
      <button class="iconbtn" (click)="setNotification()" style="cursor: pointer;">
      <div class="imgAndText">
        <img style="width: 70px;height: 70px;" src="帳戶管理(4).png">
        <br>
        <label class="icon-text">帳戶管理</label>
      </div>
    </button>
    <button class="iconbtn" (click)="setNotification()" style="cursor: pointer;">
      <div class="imgAndText">
        <img style="width: 100px;height: 65px;" src="公告設定 (2).png">
        <br>
        <label class="icon-text">公告設定</label>
      </div>
    </button>
    <button class="iconbtn" (click)="setNews()" style="cursor: pointer;">
      <div class="imgAndText">
        <img style="width: 70px;height: 70px;" src="新聞管理 (2).png">
        <br>
        <label class="icon-text">新聞管理</label>
      </div>
    </button>
    }

  </div>
</div>

<!-- 按鈕和新聞之間的空隙 -->
@if( role=='ADMIN'){
<div class="between-admin">
</div>
}
@else if( role=='USER' ){
<div class="between-user">
</div>
}
@else{
<div class="between-visitor">
</div>
}





<div class="newsCss">
  <div style="font-size: 28px;font-weight: bold;">相關新聞</div>
</div>
<!-- <div class="frameCss">
  <hr style="width: 10%; border: none; height: 1px; background-color: #9dcee2; ">
</div> -->
<br><br>
<div class="carousel-container">
  <button (click)="prev()" class="newsbtn">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="news-window">
    <div class="news-track">
      @for(news of visibleNews; track $index) {
      <div class="news-card" (click)="goNewsUrl(news.url)">
        <div class="card-content">
          <span class="news-tag">{{news?.sourceName}}</span>
          <img [src]="news?.image" class="news-img">
          <br>
          @if (news && news.publishedAt) {
          <span style="color:#4091c9">{{news.publishedAt.split('T')[0]}}</span>
          }@else {
          <span>載入中...</span>
          }
          <p class="news-title">{{news?.title}}</p>
          <p class="news-content">{{news?.content}}</p>
        </div>
        <div class="card-footer">
          <label class="wealth-switch">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      }
    </div>
  </div>

  <button (click)="next()" class="newsbtn">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
<br><br><br>

<!-- visitor才能在首頁看到系統通知(user的在鈴鐺裡) -->
@if( role== "visitor" ){
<!-- 系統通知 -->
<div class="frameCss">
  <div style="font-size: 28px;font-weight: bold;">系統通知</div>
</div>
<div class="frameCss">
  <!-- <hr style="width: 10%; border: none; height: 1px; background-color: #9dcee2; "> -->
</div>
<br>

<div class="frameCss" style="margin: 20px;">
  <div class="system-container">
    @for(notification of notificationList?.data ; track $index){
    @if(notification.scheduledDate<=gettoday){ <div class="system">
      <label class="notification-tag" (click)="detail(notification.id!)">{{notification.tag}}</label>
      <label class="notification-title" (click)="detail(notification.id!)">{{notification.title}}</label>
      <label class="notification-date" (click)="detail(notification.id!)">{{notification.scheduledDate}}</label>
  </div>
  }
  }
</div>
</div>
<br><br><br><br>
}

<!-- 可以打叉的個人通知 -->
<!-- <div class="frameCss">
  <div id="notification" class="notification-box">
    <span>這裡是可以打叉的個人通知！</span>
    <button class="close-btn" (click)="closeNotice()">&times;</button>
  </div>
</div> -->
