.frameCss{
  display: flex;
  justify-content: center;
  position: relative;
  width: 88%;

   @media(max-width:600px) {
    top: 20px;
  }
}

.headerCss{
  position: relative;
  width: 100%;
  height:60px;
  // border-radius: 10px;
 background: linear-gradient(45deg, #9dcee2, #4091c9);
}

.logo{
  position: absolute;
  left:40px;
  bottom:10px;
  font-size: 16px;
  color: white;
  font-size: 32px;
}

.loginText{
  position: absolute;
  right:40px;
  bottom:10px;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;
}

.headerbtn{
  position: absolute;
  height: 60px;
  // bottom:15px;
  color:#ddf4fd;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.headerbtn:hover{
  position: absolute;
  height: 60px;
  color:#ffffff;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  border-bottom:3px solid #1368aa ;
}

.nowheaderbtn{
  position: absolute;
  border: none; height: 60px;
  color:#ffffff;
  font-size: 19px;
  background-color: transparent;
  cursor: pointer;
  border-bottom:3px solid #1368aa ;
}

h1 {
  color: #000000;
  letter-spacing: 5px;
  font-size: 42px;
  position: absolute;
  margin-left: 120px;

  @media(max-width:600px) {
    margin-left: 10px;
    font-size: 24px;
  }
}

.date {
  position: absolute;
  left: 340px;
  margin-top: 63px;
  color: #1368aa;

  @media(max-width:600px) {
    left: 150px;
    margin-top: 35px;
    font-size: 12px;
  }
}

.hr1 {
  width: 80%;
  border: none;
  height: 2px;
  background-color: #9dcee2;

  @media(max-width:600px) {
    margin-left: 10px;
    font-size: 24px;
  }
}

.between {
  margin: 120px;

  @media(max-width:600px) {
    margin: 100px;
  }
}

.between2 {
  margin: 100px;

  @media(max-width:600px) {
    margin: 180px;
  }
}
.content-hr {
  position: absolute;
  top: -35px;
  left: 125px;
  width: 92%;
  border: none;
  height: 2px;
  background-color: #9dcee251;

  @media(max-width:600px) {
    left: 15px;
    top: -25px;

  }
}

.content {
  @media(max-width:600px) {
    margin-top: 70px;
  }
}
.privacyListtitle {
  position: absolute;
  margin-left: 150px;
  letter-spacing: 1px;
  color: #1368aa;

  @media(max-width:600px) {
    margin-left: 40px;
    font-size: 14px;
  }
}

.index {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 130px;
  background-color: #4091c9;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 28px;
  border-radius: 2px;

  @media(max-width:600px) {
    left: 20px;
    width: 30px;
    height: 30px;
  }
}

.termstitle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 190px;
  bottom: 45px;
  color: #033270;
  font-size: 20px;
  border-radius: 2px;

  @media(max-width:600px) {
  justify-content: start;
    left: 85px;
    width: 250px;
    bottom: 50px;
    font-size: 16px;
  }
}

.termscontent {
  position: absolute;
  display: flex;
  align-items: center;
  left: 190px;
  bottom: 45px;
  font-size: 16px;

  @media(max-width:600px) {
    left: 5px;
    width: 250px;
    top: 20px;
    // margin-top: 50px;
    font-size: 14px;
    margin-left: 40px;
    bottom: 35px;

  }
}

.termsitem {
  position: relative;
  bottom: 40px;
  left: 80px;
  font-size: 16px;

  @media(max-width:600px) {
    left: -10px;
    width: 230px;
    font-size: 14px;
    margin-left: 40px;
  bottom: -10px;

  }
}
