

<button (click)="login()">登 入</button>
<button (click)="register()">註 冊</button>
<button (click)="main()">首頁</button>
<button (click)="health()">健康</button>
<button (click)="strategy()">策略</button>

<!-- <br> -->
<!-- 置中 -->
<div class="frameCss">
  <!-- header -->
  <div class="headerCss">

 <!-- logo的位置 -->
 <label class="logo">WM</label>

 @if( role== "visitor" ){
 <button class="loginBtn">登&nbsp;入</button>
 }
 @else{
 <label class="headerText">XXX，歡迎使用</label>
 }
  </div>
</div>

<router-outlet></router-outlet>
