@if( role=='visitor' ){
<div class="frameCss" style="margin-top: 70px;">
  <label style="font-size: 36px;color:#4091c9;font-weight: bold;letter-spacing: 0.05em;">資產再平衡 X 加減碼策略 X 投資策略引擎</label>
</div>
<div class="frameCss" style="margin-bottom: 50px;">
  <p style="color:#666;letter-spacing: 0.05em;">資產再平衡與彈性加減碼策略，讓您的資產配置隨市場自動進化，在不確定的行情中精準導航!</p>
</div>

<h1>資產再平衡</h1>
<div class="info-banner">
  <div class="info-header">
    <strong>「資產再平衡」用來校準投資比例，在市場波動時透過「賣高、買低」，確保投資組合不會因為市場波動而偏離原本的軌道。</strong>
  </div>
  <div class="info-content">
    <ul>
      <li>
        <strong>賣高 :</strong>
        強制停利，當某項資產因漲幅過大，導致其佔比高於預設目標時，會理性要求您撤出部分資金，以及時鎖定獲利，防止單一資產風險過度集中。
      </li>
      <li>
        <strong>買低 :</strong>
        逆向投資，當某項資產因市場下跌或漲幅落後，導致其佔比低於預設目標時，會理性要求您加碼，以降低持倉成本。
      </li>
    </ul>
  </div>
</div>
<!-- 置中 -->
<div class="frameCss">
  <!-- 橫向排列 -->
  <div style="display: flex;">
    <div class="instructions">
      <div class="frameCss">
        <div class="iconbtn ">
          <img style="width: 250px;height: 200px;border-radius: 20px;" src="加減碼-1.png">
          <br><br>
          <div style="width: 250px;">
            <label style="font-size: 16px;">在我的資產存取持有股票後，即可使用加減碼功能</label>
          </div>
        </div>
      </div>
    </div>
    <div class="instructions">
    </div>
    <div class="instructions">
    </div>
  </div>
</div>
<br><br><br>

<h1>加減碼策略</h1>
<div class="info-banner">
  <div class="info-header">
    <strong>「加減碼」是一種動態的投資策略，是根據市場行情高低來調整扣款金額的方式。</strong>
  </div>
  <div class="info-content">
    <ul>
      <li>
        <strong>加碼 :</strong>
        當股市下跌、基金淨值下跌時，就增加扣款金額來使平均持有成本降低，累積在低點的更多單位數。
      </li>
      <li>
        <strong>減碼 :</strong>
        當股市上漲、基金淨值上漲時，就減少扣款金額來減少買進，降低風險。
      </li>
    </ul>
  </div>
</div>
<!-- 置中 -->
<div class="frameCss">
  <!-- 橫向排列 -->
  <div style="display: flex;">

    <div class="instructions">
      <div class="frameCss">
        <div class="iconbtn ">
          <img style="width: 220px;height: 200px;border-radius: 20px;" src="加減碼-0.png">
          <br><br>
          <div style="width: 250px;">
            <label style="font-size: 16px;">新增加減碼策略，上方列出計算公式與市價抓取時間</label>
          </div>
        </div>
      </div>
    </div>

    <div class="instructions">
      <div class="frameCss">
        <div class="iconbtn ">
          <img style="width: 250px;height: 200px;border-radius: 20px;" src="加減碼-1.png">
          <br><br>
          <div style="width: 250px;">
            <label style="font-size: 16px;">在我的資產存取持有股票後，即可使用加減碼功能</label>
          </div>
        </div>
      </div>
    </div>

    <div class="instructions">
      <div class="frameCss">
        <div class="iconbtn ">
          <img style="width: 250px;height: 200px;border-radius: 20px;" src="加減碼-2.png">
          <br><br>
          <div style="width: 250px;">
            <label style="font-size: 16px;">顯示當前策略，可進行編輯、刪除、啟用與停用</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<label style="font-size: 14px; margin-left:160px;color:#666">*加減碼通知 : WealthMap系統個人訊息 與 Email 同步寄送提醒!</label>
<br><br><br>

<h1>投資策略引擎</h1>
<div class="info-banner">
  <div class="info-header">
    <strong>透過「蒙地卡羅模擬」 1,000 次隨機市場走勢運算，評估您的資產在不同市場波動下的成長機率，助您掌握投資策略的達成度與風險。</strong>
  </div>
  <!-- <div class="info-content">
    <ul>
      <li>
        <strong>加碼 :</strong>
        當股市下跌、基金淨值下跌時，就增加扣款金額來使平均持有成本降低，累積在低點的更多單位數。
      </li>
      <li>
        <strong>減碼 :</strong>
        當股市上漲、基金淨值上漲時，就減少扣款金額來減少買進，降低風險。
      </li>
    </ul>
  </div> -->
</div>
<!-- 置中 -->
<div class="frameCss">
  <!-- 橫向排列 -->
  <div style="display: flex;">
    <div class="instructions">
      <div class="frameCss">
        <div class="iconbtn ">
          <img style="width: 250px;height: 200px;border-radius: 20px;" src="加減碼-1.png">
          <br><br>
          <div style="width: 250px;">
            <label style="font-size: 16px;">在我的資產存取持有股票後，即可使用加減碼功能</label>
          </div>
        </div>
      </div>
    </div>
    <div class="instructions">
    </div>
    <div class="instructions">
    </div>
  </div>
</div>
<br><br>
<div class="frameCss" style="margin-top: 20px;">
  <button class="registerbtn" (click)="goRegister()">註冊，開始使用「 WealthMap 個人資產與財務配置平台! 」</button>
</div>
<br><br><br>
}



@else{
<div class="main-layout">
  <div class="tabs-container">
    <button [class.active]="currentTab() === 'rebalance'" (click)="switchTab('rebalance')">
      資產再平衡
    </button>
    <button [class.active]="currentTab() === 'strategy'" (click)="switchTab('strategy')">
      加減碼策略
    </button>
    <button [class.active]="currentTab() === 'engine'" (click)="switchTab('engine')">
      投資策略引擎
    </button>
  </div>

  <div class="content-area">
    @switch (currentTab()) {
    @case ('rebalance') {
    <div class="placeholder">資產再平衡開發中...</div>
    <!-- <app-asset-rebalance></app-asset-rebalance>  -->
    }
    @case ('strategy') {
    <app-strategy-list></app-strategy-list> }
    @case ('engine') {
    <div class="placeholder">投資策略引擎開發中...</div>
    }
    }
  </div>
</div>
<br><br><br>
}
