
<br>
<div class="frameCss">
  <div class="chart-container">
    <canvas id="chart"></canvas>
    <div class="chart-center-text">
      <span class="total-label">總資產</span>
      <span class="total-amount">$10,000</span>
    </div>
  </div>
</div>

<div class="frameCss">

  <div class="iconbox">

    <button class="iconbtn">
      <img style="width: 80px;height: 60px;" src="16220 (1).png">
      <br><br>
      <label style="font-size: 16px;">我的資產</label>
    </button>

    <button class="iconbtn">
      <img style="width: 90px;height: 90px;" src="9274 (3).png">
      <br><br>
      <label style="font-size: 16px;">財務健康</label>
    </button>
    <button class="iconbtn">
      <img style="width: 120px;height: 70px;" src="9289 (1).png">
      <br><br>
      <label style="font-size: 16px;">投資策略</label>
    </button>
    <button class="iconbtn">
      <img style="width: 90px;height: 80px;" src="12260 (3).png">
      <br><br>
      <label style="font-size: 16px;">財務目標</label>
    </button>

    <button class="iconbtn" (click)="goToRiskTest()" style="cursor: pointer;">
      <img style="width: 100px;height: 70px;" src="9179 (2).png">
      <br><br>
      <label style="font-size: 16px;">風險評估</label>
    </button>
    <button class="iconbtn" (click)="setNotification()" style="cursor: pointer;">
      <img style="width: 100px;height: 65px;" src="公告設定 (2).png">
      <br><br>
      <label style="font-size: 16px;">公告設定</label>
    </button>
    <button class="iconbtn" (click)="setNews()" style="cursor: pointer;">
      <img style="width: 70px;height: 70px;" src="新聞管理 (2).png">
      <br><br>
      <label style="font-size: 16px;">新聞管理</label>
    </button>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>


<div class="frameCss">
  <div style="font-size: 28px;font-weight: bold;">相關新聞</div>
</div>
<div class="frameCss">
<hr style="width: 10%; border: none; height: 1px; background-color: #9dcee2; ">
</div>
<br>
<div class="carousel-container">
  <button (click)="prev()" class="newsbtn">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="news-window">
    <div class="news-track">
      @for(news of visibleNews; track $index) {
        <div class="news-card" (click)="goNewsUrl(news.url)">
          <div class="card-content">
            <span class="news-tag">{{news.sourceName}}</span>
            <img [src]="news.image" class="news-img">
            <br>
            <span style="color:#4091c9">{{news.publishedAt.split('T')[0]}}</span>
            <p >{{news.title}}</p>
            <p class="newscontent">{{news.content}}</p>
          </div>
          <div class="card-footer">
             <label class="wealth-switch">
                <span class="slider"></span>
             </label>
          </div>
        </div>
      }
    </div>
  </div>

  <button (click)="next()" class="newsbtn">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
<br><br><br>
