<br>
<!-- 置中 -->
<div class="frameCss">
  <!-- header -->
  <div class="headerCss">

    <!-- logo的位置 -->
    <label class="logo">WM</label>
    <label class="loginText">{{userName}}，歡迎使用</label>

  </div>

  <div class="contentArea">
  <!-- content -->
    <div class="itemCss">

      <!-- 功能列的位置 -->
      <div class="iconWrapper">
        <img class="iconCss" src="/AboutUs.png" (click)="setAboutUs()">
        <span>關於我們</span>
      </div>
      <div class="iconWrapper">
        <img class="iconCss" src="/Notify.png" (click)="setNotification()">
        <span>公告設定</span>
      </div>
      <div class="iconWrapper">
        <img class="iconCss" src="/TermsOfService.png" (click)="setService()">
        <span>服務條款</span>
      </div>
      <div class="iconWrapper">
        <img class="iconCss" src="/Privacy.png" (click)="setPrivacyPolicy()">
        <span>隱私政策</span>
      </div>

    </div>


    <div class="notification">
      <span>系統公告</span>
      <div class="notificationDetail">
        <span>[維護公告]系統將進行例行性維護...</span>

      </div>
    </div>

  </div>

  <div class="footerCss">
  <!-- footer -->
    <span>© 2026 WealthMap 版權所有</span>
  </div>


</div>

