button{
  width:80px;
  margin:20px;
  background-color: #9dcee2;
  border: none;
  color:white;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color:#4091c9;
}
