<!-- 置中
<div class="frameCss">
  header
  <div class="headerCss">
    logo的位置
    <label class="logo">WM</label>
    <label class="loginText">{{userName}}，歡迎使用</label>
  </div>
</div> -->

@if(page==1){
<br>
<div style="margin: 20px;">
  <!-- 標題 -->
  <div>
    <h1>公告設定</h1>
    <button class="addbtn" (click)="showDialog(1,0)">
      <img src="編輯.png">
    </button>
  </div>
</div>
<br><br><br>
<hr>
<br>

<div class="frameCss" style="margin: 20px;">
  <div style="width: 70%; border-color: #4091c9;">
    @for(notification of notificationList?.data ; track $index){
    <div class="notification">
      <label class="notification-tag" (click)="detail(notification.id!)">{{notification.tag}}</label>
      <label class="notification-title" (click)="detail(notification.id!)">{{notification.title}}</label>
      <label style="position: absolute;right:20px"
        (click)="detail(notification.id!)">{{notification.scheduledDate}}</label>
      @if(notification.scheduledDate>=gettoday){
      <button class="notification-edit" (click)="showDialog(2,$index)"><mat-icon>edit</mat-icon></button>
      <button class="notification-delete" (click)="showDialogDelete($index)"><mat-icon>delete</mat-icon></button>
      }
      <!-- @else{
      已發布
      } -->
    </div>
    }
  </div>
</div>
<br><br>
}

@else{
<br>
<div style="margin: 20px;">
  <!-- 標題 -->
  <div>
    <h2>{{notificationIdDetail?.title}}</h2>
  </div>
</div>
<br><br><br><br>
<div style="display: flex; margin-left: 150px;font-size: 16px;color: #4091c9;">
  <label>{{notificationIdDetail?.scheduledDate.split('-')[0]}}年{{notificationIdDetail?.scheduledDate.split('-')[1]}}月{{notificationIdDetail?.scheduledDate.split('-')[2]}}日</label>
</div>
<hr>

<br>

<div class="frameCss">
  <div style="position: relative;left:12px; width: 78%; line-height: 1.8;">
    <label style="white-space: pre-wrap;">{{notificationIdDetail?.content}}</label>
  </div>
</div>
<br><br><br><br>
}
