<!-- 置中
<div class="frameCss">
  header
  <div class="headerCss">
    logo的位置
    <label class="logo">WM</label>
    <label class="loginText">{{userName}}，歡迎使用</label>
  </div>
</div> -->

@if(page==1){
<br><br><br><br>
<div  style="margin: 20px;">
  <!-- 標題 -->
  <div class="titleCss">
    <div>
      <label class="titleFontPage1">公告設定</label>
      <!-- <h1>公告設定</h1> -->
      <button class="addbtn" (click)="showDialog(1,0)">
        <img src="編輯.png">
      </button>
    </div>
    <div>
      <select [(ngModel)]="pageSize" (change)="currentPage = 1" class="pagination-select">
        <option [ngValue]="5">5 筆 / 頁</option>
        <option [ngValue]="10">10 筆 / 頁</option>
        <option [ngValue]="20">20 筆 / 頁</option>
      </select>
    </div>
  </div>
</div>

<hr>
<br>

<div class="frameCss" style="margin: 20px;">
  <div style="width: 70%; border-color: #4091c9;">
    <!-- @for(notification of notificationList?.data ; track $index){ -->
    @for(notification of pagedSystemLogs ; track $index){
    <div class="notification">
      <label class="notification-tag" (click)="detail(notification.id!)">{{notification.tag}}</label>
      <label class="notification-title" (click)="detail(notification.id!)">{{notification.title}}</label>
      <label style="position: absolute;right:20px"
        (click)="detail(notification.id!)">{{notification.scheduledDate}}</label>
      @if(notification.scheduledDate>=gettoday){
      <button class="notification-edit" (click)="showDialog(2,$index)"><mat-icon>edit</mat-icon></button>
      <button class="notification-delete" (click)="showDialogDelete($index)"><mat-icon>delete</mat-icon></button>
      }
      <!-- @else{
      已發布
      } -->
    </div>
    }
  </div>
</div>
<br>
<!-- 分頁控制項 -->
  <div class="pagination-div">
    <div class="pagination-controls" >
      <div class="pagination-btns">
        <button [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1">
          <mat-icon>chevron_left</mat-icon>
        </button>&nbsp;
        <span>第 {{currentPage}} / {{totalPages}} 頁</span>&nbsp;
        <button [disabled]="currentPage >= totalPages" (click)="currentPage = currentPage + 1">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
<!-- 分頁控制項 -->

}

@else{
<br>
<div style="margin: 20px;">
  <!-- 標題 -->
  <div>
    <h2>{{notificationIdDetail?.title}}</h2>
  </div>
</div>
<br><br><br><br>
<div style="display: flex; margin-left: 150px;font-size: 16px;color: #4091c9;">
  <label>{{notificationIdDetail?.scheduledDate.split('-')[0]}}年{{notificationIdDetail?.scheduledDate.split('-')[1]}}月{{notificationIdDetail?.scheduledDate.split('-')[2]}}日</label>
</div>
<hr>

<br>

<div class="frameCss">
  <div style="position: relative;left:12px; width: 78%; line-height: 1.8;">
    <label style="white-space: pre-wrap;">{{notificationIdDetail?.content}}</label>
  </div>
</div>

<br>
}
<br><br><br>
