<div class="cover-container">

    <!-- <div class="top-nav-bar">
        <button class="back-btn" (click)="backToHome()">
            <span class="icon-chevron">〈</span> 回首頁
        </button>
    </div> -->

    <div class="hero-section">
        <!-- <div class="icon-wrapper">🎯</div> -->
        <label class="title">專屬風險屬性評估</label>
        <p class="note">(測驗時間約需 1 分鐘)</p>
        <p class="introduction">了解您的投資性格，為您量身打造最適合的資產配置計畫。</p>
        <!-- <p class="subtitle">了解您的投資性格，為您量身打造最適合的資產配置計畫。</p> -->
    </div>
    <br>
    <div class="features-section">
        <div class="feature-card">
            <!-- <h3>🔍 認識真實的自己</h3> -->
            <h3>認識真實的自己</h3>
            <p>透過科學化的 6 個簡單問題，精準分析您對投資波動的承受度。</p>
        </div>
        <div class="feature-card">
            <!-- <h3>💡 獲得專家建議</h3> -->
            <h3>獲得專家建議</h3>
            <p>系統將根據您的風險屬性，提供量身定制的股債配置比例與理財方針。</p>
        </div>
    </div>

    <div class="action-section">
        <button class="start-btn" (click)="goToTest()">開始測驗</button>
        <!-- <p class="note">⏳ 測驗時間約需 1 分鐘</p> -->
        <br>
        <p class="source-attribution">
            本風險評估題目參考自「富達投信風險屬性評估表」，僅供系統試算資產配置參考。
        </p>
    </div>

</div>
