@if( role=='visitor' ){
  <div class="frameCss" style="margin-top: 70px;">
  <label class="title">財務健康</label>
</div>
<div class="frameCss" style="margin-bottom: 50px;">
  <p class="illustrate" >將複雜數據轉化為直觀的健康分數與資產趨勢圖，能一眼掌握財務現況!</p>
</div>


<br><br>
<div class="frameCss" style="margin-top: 20px;">
  <button class="registerbtn" (click)="goRegister()">註冊，開始使用「 WealthMap 個人資產與財務配置平台! 」</button>
</div>
<br><br><br>
}
@else{
<div class="whole">
  <div class="health-container">
    <div class="chart-box main-gauge">
      <div echarts [options]="gaugeOption" style="height: 300px;"></div>
    </div>

    <div class="metrics-grid">
      <div *ngFor="let m of metrics | keyvalue"
          class="metric-card"
          [class.alert-bg]="m.value.isAlert">
        <span class="label">{{ m.value.label }}</span>
        <span class="value">{{ m.value.value }}</span>
        <span class="describe">{{ m.value.status }}</span>
        <span *ngIf="m.value.isAlert" class="warning-text">⚠️ 數值偏離理想狀況</span>
      </div>
    </div>

    <div class="chart-box">
      <h3>歷史財務狀況</h3>
      <div class="content-wrapper">
        <div echarts [options]="radarOption" class="chart-item"></div>
        <div echarts [options]="historyLineOption" (chartClick)="onChartClick($event)" class="chart-item"></div>
      </div>
    </div>
  </div>
</div>

}
