.whole{
  padding: 20px;
  background: #f8f9fa;
  align-items:center;
  display: flex;
  flex-direction: column;
}
.health-container {
  background: white;
  width: 80%;border-radius: 16px;
  // padding: 20px;

  .metrics-grid {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 20px 0;
    justify-self: center;
  }

  .metric-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.112);


    &.alert-bg {
      background-color: #fff1f0;
      border: 1px solid #ffa39e;
    }

    .label { color: #8c8c8c; font-size: 16px; }
    .value { font-size: 24px; font-weight: bold; margin: 8px 0; }
    .describe{font-size: 18px; margin: 8px 0;}
    .warning-text { color: #f5222d; font-size: 12px; }
  }

  .chart-box {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    .content-wrapper {
      display: flex !important;
      flex-direction: row;
      gap: 20px;
      align-items: center;

      .chart-item {
        flex: 1;
        height: 400px;
        width: 400px;
      }
    }
  }

}
.frameCss{
  display: flex;
  justify-content: center;
}
.distance{
   margin-top: 70px;
    //手機
  @media(max-width:600px) {
    margin-top: 30px;
  }
}
.title {
  font-size: 36px;
  color: #4091c9;
  font-weight: bold;
  letter-spacing: 0.05em;

  //手機
  @media(max-width:600px) {
    font-size: 32px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
    width:330px;
    text-align: center
  }
}
.introduction {
  color: #666;
  letter-spacing: 0.05em;

  //手機
  @media(max-width:600px) {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 40px;
    width:330px;
    text-align: center
  }
}

.registerbtn {
  background: linear-gradient(135deg, #9dcee2 0%, #4091c9 100%);
  color: white;
  font-weight: 600;
  padding: 16px 40px;
  border-radius: 50px;
  /* 圓角膠囊型 */
  border: none;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;

  @media (max-width: 600px) {
  font-size: 14px;
  width: 290px;
  }
}
.registerbtn:hover{
  // background: linear-gradient(135deg, #4091c9 0%, #9dcee2 100%);
  color: white;
  transform: translateY(-2px); /* 輕微浮起 */
}
