.header{
  background-color: #9dcee2;
  height: 20px;
}

.text{
  position: relative;
  left:40px;
  width: 200px;
  font-size: 16px;
}

.btn-position{
  position: relative;
  display: flex;
  justify-content:center;
  top:-15px;
}
button{
  width:80px;
  margin:20px;
  background-color: #9dcee2;
  border: none;
  color:white;
  height: 30px;
  border-radius: 5px;
}
button:hover{
  background-color:#4091c9;
}
