@if(data==1){
<div style="background-color: #9dcee2;height: 20px;"></div>
<div style="height:50px"></div>
<label style="position: relative; left:40px;width: 160px;font-size: 16px;">有題目尚未填寫!</label>
<div style="height:50px"></div>

<div style="position: relative;display: flex;justify-content:center;top:-15px">
<button (click)="close()">確認</button>
<!-- <button (click)="cancel()">取消</button> -->
</div>
}

@if(data==2){
<div style="background-color: #9dcee2;height: 20px;"></div>
<div style="height:50px"></div>
<label style="position: relative; left:40px;width: 160px;font-size: 16px;">註冊成功!</label>
<div style="height:50px"></div>

<div style="position: relative;display: flex;justify-content:center;top:-15px">
<button (click)="login()">確認</button>
<!-- <button (click)="cancel()">取消</button> -->
</div>
}


