@if(data==1 || data.no == 1){
<div class="header"></div>
<div style="height:50px"></div>
<label class="text">有題目尚未填寫!</label>
<div style="height:50px"></div>

<div class="btn-position">
<button (click)="close()">確認</button>
<!-- <button (click)="cancel()">取消</button> -->
</div>
}

@if(data==2 || data.no == 2){
<div class="header"></div>
<div style="height:50px"></div>
<label class="text">註冊成功!</label>
<div style="height:50px"></div>

<div class="btn-position">
<button (click)="login()">確認</button>
<!-- <button (click)="cancel()">取消</button> -->
</div>
}
@if(data==3 || data.no == 3){
<div class="header"></div>
<div style="height:50px"></div>
<label class="text">臨時密碼以傳送至Email</label>
<div style="height:50px"></div>

<div  class="btn-position">
<button (click)="email()">確認</button>
<!-- <button (click)="cancel()">取消</button> -->
</div>
}

@if(data==4 || data.no == 4){
<div class="header"></div>
<div style="height:50px"></div>
<label class="text">登入成功，請立即修改密碼</label>
<div style="height:50px"></div>

<div class="btn-position">
<button (click)="reloginChangePwd()">確認</button>
<!-- <button (click)="cancel()">取消</button> -->
</div>
}

@if(data==5 || data.no == 5){
<div class="header"></div>
<div style="height:50px"></div>
<label class="text">密碼修改成功</label>
<div style="height:50px"></div>

<div  class="btn-position">
<button (click)="changePwd()">確認</button>
<!-- <button (click)="cancel()">取消</button> -->
</div>
}

@if(data==6 || data.no == 6){
<div class="header"></div>
<div style="height:50px"></div>
<label class="text">舊密碼輸入錯誤!</label>
<div style="height:50px"></div>

<div  class="btn-position">
<button (click)="changePwd()">確認</button>
<!-- <button (click)="cancel()">取消</button> -->
</div>
}

@if(data==7 || data.no == 7){
<div class="header"></div>
<div style="height:50px"></div>
<label class="text">Email 或 密碼 輸入錯誤!</label>
<div style="height:50px"></div>

<div  class="btn-position">
<button (click)="error()">確認</button>
<!-- <button (click)="cancel()">取消</button> -->
</div>
}

<!-- for RickLevel page -->
@if(data==8 || data.no == 8){
<div class="header"></div>
<div style="height:50px"></div>
<label class="text">請先登入會員，才能觀看投資組合建議喔!</label>
<div style="height:50px"></div>

<div  class="btn-position">
<button (click)="goLogin()">前往登入</button>
<button (click)="cancel()">取消</button>
</div>
}

<!-- for Admin User Management-->
@if(data.no==9){
<div class="header"></div>
<div style="height:50px"></div>
<label class="text">您確定要 {{data.action}} 使用者 {{data.name}} 嗎？</label>
<div style="height:50px"></div>

<div  class="btn-position">
<button (click)="switchConfirm()">確認</button>
<button (click)="switchCancel()">取消</button>
</div>
}

@if(data==10 || data.no == 10){
<div class="header"></div>
<div style="height:50px"></div>
<label class="text">該帳戶已被停用。</label>
<div style="height:50px"></div>

<div  class="btn-position">
<button (click)="error()">確認</button>
<!-- <button (click)="cancel()">取消</button> -->
</div>
}
