/* 全域重置 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.whole {
  // justify-content: center;
  display: flex;
  width: 98.8vw;
  height: 100vh;
  background-color: #9dcee2;
}

.left-box {
  // font-size: 36px;
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
  background-color: #9dcee2;
}
.right-box {
  flex: 0 0 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-content {
  justify-content: center;
  width: 400px;
  height: 85%;
  padding: 10px;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(3, 50, 112, 0.3);
}
h1 {
  text-align: center;
  margin-bottom: 5px;
}

.input-box {
  // width: 100%;
  // margin: 15px 5px;
  // justify-content: flex-end;
  margin-left: 25px;

  input {
    width: 90%;
    height: 30px;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    // border: none;
    // border-color: #bed8fd;
  }
}

.btn{
  text-align:center;
}
.btn-google {
  justify-content: center;
  // width: 240px;
  width: 200px;
  border: none;
  // box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 55px;
  cursor: pointer;
  background-color: #9dcee2;
  color: white;
  &:hover{
    background-color: #f29479;
  }
}

/* 全域字體 20px */
.right-content label, .right-content input, .right-content button, .right-content p {
  font-size: 16px;
}

/* 錯誤訊息基礎樣式 */
.error-msg {
  color: #ff4d4f;       /* 柔和一點的紅色 */
  font-size: 0.85rem;   /* 比標籤小一點點 */
  margin-left: 5px;      /* 與輸入框保持一點距離 */
  margin-top: -15px;      /* 與輸入框保持一點距離 */
  display: block;       /* 確保它是獨立一行 */
  margin-bottom: 10px;

  /* 加入簡單的淡入動畫 */
  animation: fadeIn 0.3s ease-out;
}

/* 定義動畫內容 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px); /* 從上方一點點滑下來 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-icon {
  font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 24;
  font-size: 18px;
  color: #bad5e0;
  vertical-align: middle; /* 讓圖示跟文字對齊更準 */
  font-weight: normal;
}

.isshowPassword{
  background-color: transparent;
  border: none;
  position: absolute;
  right:40px;
  bottom: 16px;
}

.footer-text {
  font-size: 13px;
  margin-top: 10px;
  // margin-left: 40px;
  // margin-right: 40px;
  text-align: end;
  color: #788189;
}

.link-text {
  font-size: 13px;
  text-decoration: underline;
  color: #4091c9;
  cursor: pointer;
  position: relative;
  z-index: 10;
  display: inline-block;
}

